* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent {
    background-image: url(./incredibly-beautiful-sunset-sun-lake-sunrise-landscape-panorama-nature-sky-amazing-colorful-clouds-fantasy-design-115177001.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 15px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginform {
    width: 50%;
    margin: 0px auto;
}

.loginform fieldset {
    padding: 5px 40px 0 40px;
    border: 1px solid #000;
    border-radius: 20px;
}

.loginform legend {
    margin: 0px auto;
}

.loginform legend img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.backdrop {
    border-top: 1px solid #000;
    padding-top: 10px;
}

.heading {
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
    text-align: center;
    margin: 10px 0 0 0;
}

.form {
    margin: 20px 0;
    cursor: pointer;
}

.form label {
    font-weight: bold;
    font-size: 20px;
    display: block;
    font-family: 'Times New Roman', Times, serif;
    margin: 10px 0;
}

.form .textinput {
    width: 100%;
    padding: 10px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #000;
    font-family: 'Times New Roman', Times, serif;
    background: transparent;
    cursor: pointer;
}

.form select {
    width: 100%;
    padding: 10px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #000;
    background: transparent;
    cursor: pointer;
}

.form button {
    margin: 20px 0;
    width: 100%;
    padding: 10px;
    border: 1px solid #000;
    background-color: gray;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-family:'Times New Roman', Times, serif;
}
.inlineLable {
    display: inline-block !important;
    margin-right: 10px !important;
}
.feedback{
    width: 100%;
    resize: none;
    outline: none;
    border: 1px solid #000;
    border-radius: 8px;
    padding: 10px;
}